<app-header [title]="title()" />
<main class="main">
  <ul id="users-list">
    @for (user of users; track user.id) {
    <li id="user-{{ user.id }}">
      <!-- old way of doing things with ngFor -->
      <!-- <li *ngFor="let user of users" id="user-{{ user.id }}"> -->
      <app-user [user]="user" (select)="onSelectUser($event)" [selected]="selectedUser && user.id === selectedUser.id"/>
    </li>
    }
  </ul>

  @if(selectedUser){
  <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id" />
  <!-- old way of doing things with ngIf and fallback template -->
  <!-- <app-tasks *ngIf="selectedUser ; else fallback" [name]="selectedUser!.name" /> -->
  } @else {
  <!-- <ng-template #fallback> -->
  <p id="fallback">Select A User To See Their Tasks</p>
  <!-- </ng-template> -->
  }
</main>

<!-- <router-outlet /> -->
